<div class="container">
  <div class="col-md-6 m-auto pb-1">{{> messages}}</div>
  <div class="row g-4 justify-content-start">
    {{#unless messages}}
      <div class="col-md-6 col-lg-4">
        <div class="alert alert-dismissible alert-danger">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
          ></button>
          <strong>No Messages!</strong>
          You can add messages
          <a href="/add" class="alert-link">Here!</a>
        </div>
      </div>
    {{/unless}}
    {{#each messages as |blog|}}
      <div class="col-md-6 col-lg-4 py-2">
        <div class="card {{blog.color}} mb-3">
          <div class="card-header small"><i>By -</i>
            <strong> {{blog.author}}</strong>

            <div><i>On - </i> {{blog.date}}</div>
          </div>
          <div class="card-body overflow-auto" style=" max-height: 500px;">
            <h4 class="card-title">{{blog.title}}</h4>
            <p class="card-text" style="white-space: pre-wrap;">{{blog.body}}</p>
            
            {{#if ../username}}
              <form
                action="/api/messages/{{blog._id}}?_method=DELETE"
                method="POST"
                class="mt-3"
              >
                <input
                  type="submit"
                  class="float-end btn btn-primary"
                  value="Delete"
                />
              </form>
            {{/if}}
          </div>
        </div></div>
    {{/each}}
  </div>
</div>